.App {
  text-align: center;
}

form {
  background-color: #fcfcfc;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  padding-top: 1%;
  padding-bottom: 1%
}

input {
  display: block;
  margin: 5% auto 5% auto;
  font-size: 2em;
  border-radius: 5px;
  /* padding: 5% 0% 5% 0%; */
}

.chat-container {
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: lime;
}

.post {
  border-style: solid;
  margin: 1%;
}

.event {
  border-style: solid;
  margin: 1%;
}

.nav-bar {
  width: 100vw;
  background-color: #039600;
  color: white;
  text-align: left;
}

.nav-button {
  background-color: #039600;
  padding: 1%;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
