* {
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}

.App {
  text-align: center;
}

form {
  background-color: #fcfcfc;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 5px
}

input {
  display: block;
  margin: 5% auto 5% auto;
  font-size: 2em;
  border-radius: 5px;
  /* border-bottom: */
  padding: 1%;
}

input.submit:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}



.chat-container {
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: lime;
}

.post {
  border-style: solid;
  margin: 1%;
}

.event {
  border-style: solid;
  margin: 1%;
}

.nav-bar {
  height: 8vh;
  width: 100vw;
  background-color: #039600;
  color: white;
  text-align: left;
}

.nav-button {
  height: 8vh;
  width: 20vw;
  background-color: #039600;
  padding: 1%;
  border: none;
  font-size: 3vw;
  color: white;
}

.mat-chat {
  font-weight: bold;
}
