.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

input {
  display: block;
  margin: auto;
}

.chat-container {
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: lime;
}

.post {
  border-style: solid;
  margin: 1%;
}

.event {
  border-style: solid;
  margin: 1%;
}

.nav {
  padding: 1%;
}
